.component-login {
    background-color: rgba(244, 214, 214, 0.218);
    border: 1px solid rgba(192, 191, 191, 0.944);
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
  }

  .input-width{
    width: 100%;
  }

  .input-name{
    margin-right: 20px;
  }

  .input-border{
    border-color: rgba(208, 21, 21, 0.334);
    border-radius: 5px;

  }

  

  ul {
    padding-left: 0; 

  }

 